---
import Layout from '../layouts/Default.astro';
---

<Layout
    title="contact | steven tam"
    description="contact me"
>
    <div class="flex flex-col h-screen align-center">
        <p>The best way to contact me is by Linkedin and email. Also, message me if you are interested in collaborating on projects.</p>
        <div class="flex flex-col gap-4 mt-2 drop-shadow-md">
              <!-- LinkedIn Link -->
              <a href="https://www.linkedin.com/in/steven-tam-career/" target="_blank" class="flex items-center hover:underline text-lg space-x-2">
                <img src="/img/linkedin.svg" alt="linkedin icon" class="h-5 aspect-square" />
                <span>/in/steven-tam-career</span>
              </a>
            <!-- Personal Email Link -->
            <a href="mailto:steven.tam123@gmail.com" class="flex items-center hover:underline text-lg space-x-2">
              <img src="/img/paper-plane.svg" alt="send email" class="h-5 aspect-square" />
              <span>steven.tam123@gmail.com</span>
            </a>
        
            <!-- GitHub Link -->
            <a href="https://github.com/steven-tam" target="_blank" class="flex items-center hover:underline text-lg space-x-2">
              <img src="/img/github.svg" alt="github icon" class="h-5 aspect-square" />
              <span>/steven-tam</span>
            </a>
          </div>
    </div>
</Layout>