---

---

<footer class="flex flex-col items-center texttext-center bg-white p-6">
  <div class="text-gray-400 text-center">This portfolio is hosted as a Docker container configured with Nginx on Google Cloud Platform and built with Astro and TailwindCSS</div>
  <div class="flex gap-3">
    <!-- GitHub Link -->
    <a href="https://github.com/steven-tam" target="_blank" class="flex items-center hover:underline text-lg space-x-2">
      <img src="/img/github.svg" alt="github icon" class="h-8 aspect-square" />
    </a>

    <!-- LinkedIn Link -->
    <a href="https://www.linkedin.com/in/steven-tam-career/" target="_blank" class="flex items-center hover:underline text-lg space-x-2">
      <img src="/img/linkedin.svg" alt="linkedin icon" class="h-8 aspect-square" />
    </a>
  </div>
</footer>
